p.lion {
  background-color: red;
}

ul .lion {
  background-color: greenyellow;
  font-weight: 900;
}

#tiger {
  background-color: yellow;
}

.lion {
  color: sienna;
}
#tiger + li {
  background-color: skyblue;
}

span + .lion ~ li {
  background-color: orange;
}
